*{margin: 0;
padding: 0;}
html {
    font-size: 10px;
}

body {
    width: 100%;
    overflow: hidden;
}

#container {
    width: 100%;
    min-height: 50rem;
    background: url("./바다.png")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    max-width: 80rem;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: inset 0 0 0 1rem lightblue;
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 20%);
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed lightblue;
}
form > span {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: url("./cherry.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}
form > input {
    width: 90%;
    height: 100%;
    padding: 2rem 0 2rem 4.5rem;
    box-sizing: border-box;
    border: none;
    outline: none;
}
input::placeholder {
    font-weight: bold;
    color: #555;
}
form > button {
    width: 10%;
    padding: 1.5rem 0;
    cursor: pointer;
    background-color: lightblue;
    border: none;
    outline: none;
    transition: all 0.3s ease-in;
    font-weight: bold;
    border-radius: 2rem;
    color: #fff;
}
form > button:hover {
    box-shadow:inset 0 0 0 3rem #fff;
    color: lightblue;
    border: 3px solid lightblue;
}

#tabs {
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightblue;
}
#tabs > div {
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    cursor: pointer;
}
.underBar {
    position: absolute;
    left: 0;
    top: 50px;
    height: 4px;
    width: 0;
    background-color: pink;
    transition: all 0.3s ease-in;
}
#todoBox > div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid lightblue;
}
#todoBox > div > span {
    width: 85%;
    min-height: 29px;
    line-height: 29px;
}
#todoBox > div > div > button {
    padding: 0 0.6rem;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
#todoBox > div > div > button:hover {
    color: lightblue;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px lightblue;
}
#todoBox > div > div > button:nth-of-type(2):hover {
    color: rgb(255, 153, 153);
    background-color: #fff;
    box-shadow: inset 0 0 0 1px rgb(255, 153, 153);
}

.line {
    text-decoration: line-through;
    color: rgb(255, 153, 153);
}
